<br>
<h1>Aprobación / Rechazo Anteproyecto</h1>
<hr>
<div class="row">
  <div class="col">
    <button title="Nuevo" [routerLink]="['/anteproyecto-form']" class="btn btn-primary">
    Insertar
  </button>
  </div>
</div>
<br>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Estudiante</th>
      <th>Estado</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of anteproyectos">
      <td>{{anteproyectos.indexOf(a)+1}}</td>
      <td>Juan</td>
      <td>{{a.estado}}</td>
      <td>{{a.fecha_inicio}}</td>
      <td>{{a.fecha_fin}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="anteproyectos==null||anteproyectos.length==0">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <p class="lead">No existe Anteproyecto</p>
    </div>
  </div>
</div>