<br>
<h1>Tema de Anteproyecto</h1>
<h4 class="card-subtitle text-muted">Insertar</h4>
<hr>
<form [formGroup]="formularioTemaAnteproyecto" (ngSubmit)="guardar()">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="notaTutor">Seleccionar Estudiante</label>
        <select class="form-control" style="width: 100%;" formControlName="user_id">
          <option value="" selected disabled>Seleccionar estudiante</option>
          <option *ngFor="let estudiante of estudiantes" [value]="estudiante.id">{{ estudiante.name }}</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Estado</label>
        <select class="form-control" formControlName="estado">
          <option value="" selected disabled>Seleccionar estado</option>
          <option *ngFor="let est of estado" [ngValue]="est">
            {{est}}
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Tema de Anteproyecto</label>
        <input type="text" class="form-control" formControlName="tema">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>&nbsp;
  <button type="button" [routerLink]="['/anteproyecto-tema-list']" class="btn btn-outline-danger">
    Cancelar
  </button>
</form>

