<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Estudiantes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Simple Tables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Estudiantes</h3>
                    </div>
                    <!-- ./card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Id  </th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let nombre of nombres; let i = index">
                                <tr data-widget="expandable-table" aria-expanded="false">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ nombre.name }}</td>
                                    <td>{{ nombre.email }}</td>
                                    <td>{{nombre.id}}</td>                                    
                                </tr>
                                <tr class="expandable-body" *ngFor="let dato of datos">                                    
                                    <td colspan="5" *ngIf="nombre.id == dato.user_id">
                                        
                                            Nombre del archivo: <small>{{ dato.nombre_archivo }} </small>  | Nota de archivo <small>{{ dato.nota_archivo }}</small> 
                                                                                    
                                            <form [formGroup]="notaDocumento" *ngIf="dato.nota_archivo == null">
                                                <div class="form-group">
                                                    <input type="hidden" [value]="nombre.id"/>
                                                    <input type="number" name="" id="" class="form-control mb-2" placeholder="Registrar nota" formControlName="nota_archivo"/>
                                                    <button type="submit" class="btn btn-success" (click)="guardarNota(nombre.id)">Guardar Nota</button>

                                                </div>
                                            </form>                                                                                                                               
                                       
                                    </td>
                                    <td colspan="5" *ngIf="nombre.id != dato.user_id">

                                        <form [formGroup]="fechaEntrega">
                                            <input type="date" name="" id="" class="form-control mb-2 mt-2" formControlName="fecha">
                                        <button type="submit" class="btn btn-success" (click)="guardarFecha(nombre.id)">Guardar Fecha</button>
                                        </form>
                                        
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->