<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Estudiantes</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Simple Tables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
       
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Lista de Estudiantes</h3>
            </div>
            <!-- ./card-header -->
            <div class="card-body">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Correo</th>              
                  </tr>
                </thead>
                <tbody>
                  <tr data-widget="expandable-table" aria-expanded="false" *ngFor="let nombre of nombres; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ nombre.name }}</td>
                    <td>{{ nombre.email }}</td>          
                  </tr>
                  <tr class="expandable-body">
                    <td colspan="5" >
                      <p *ngFor="let dato of datos">
                        {{ dato.nombre_archivo }}
                        {{ dato.nota_archivo }}
                      </p>
                        <p>
                          
                        <input type="text" name="" id="" class="form-control mb-2" placeholder="Registrar nota">
                        <button type="submit" class="btn btn-success">Guardar Nota</button>

                        <input type="date" name="" id="" class="form-control mb-2 mt-2">
                        <button type="submit" class="btn btn-success">Guardar Fecha</button>
                      </p>
                    </td>
                  </tr>                                    
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <!-- /.row -->      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->