<form [formGroup]="formularioEstudianteCarrera" (ngSubmit)="guardar()" *ngIf="mostrarForm">
    <br />
    <h4>Seleccionar Modalidad</h4>
    <br />
    <div class="form-group" style="max-width: 50%;">
        <label for="carrera-select">Carrera:</label>
        <select formControlName="carrera_id" id="carrera-select" class="form-control">
            <option value="null">Seleccione</option>
            <option [value]="c.id" *ngFor="let c of carreras" [ngValue]="c.id">
                {{ c.nombre }}
            </option>
        </select>
    </div>
    <div class="form-group" style="max-width: 50%;">
        <label for="modalida-select">Modalidad:</label>
        <select formControlName="modalidad" id="modalida-select" class="form-control">
            <option value="null">Seleccione</option>
            <option *ngFor="let m of modalidades" [ngValue]="m">
                {{ m }}
            </option>
        </select>
    </div>
    <div class="form-group" style="max-width: 30%;">
        <label for="fecha-inicio">Fecha de inicio de carrera:</label>
        <input type="date" class="form-control" id="fecha-inicio" formControlName="fecha_comienzo">
    </div>
    <div class="form-group" style="max-width: 30%;">
        <label for="fecha-final">Fecha de egreso:</label>
        <input type="date" class="form-control" id="fecha-final" formControlName="fecha_final">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

<div *ngIf="!mostrarForm" style="padding: 0px 30px;">
    <br />
    <div class="row">
        <div class="col-sm-4 col-md-1" style="padding: 10px;">
            Carrera
        </div>
        <div class="col-sm-8 col-md-8">
            <div class="color-palette-set">
                <div class="bg-primary color-palette" style="padding: 10px;">
                    <span>{{estudianteCarrera.carrera.nombre}}</span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 col-md-1" style="padding: 10px;">
            Modalidad
        </div>
        <div class="col-sm-8 col-md-8">
            <div class="color-palette-set">
                <div class="bg-primary color-palette" style="padding: 10px;">
                    <span>{{estudianteCarrera.modalidad}}</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atención</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Se le ha solicitado actualizar sus datos ¿Desea hacerlo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" [routerLink]="['/actualizar-datos']"
                    data-dismiss="modal">Actualizar Datos</button>
            </div>
        </div>
    </div>
</div>
<button style="display: none;" id="boton-abrir-datos" type="button" class="btn btn-primary" data-toggle="modal"
    data-target="#exampleModal">
    Launch demo modal
</button>