<form [formGroup]="formularioEstudiante" (ngSubmit)="guardar()">
    <h4>Actualización de datos</h4>
    <div class="alert alert-danger alert-dismissible" *ngIf='mensajeError'>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{mensajeError}}
    </div>
    <div class="form-group" style="max-width: 50%;">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
    </div>
    <div class="form-group" style="max-width: 50%;">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" placeholder="Apellido" formControlName="apellido">
    </div>
    <div class="form-group" style="max-width: 50%;">
        <label for="correo">Correo</label>
        <input type="email" class="form-control" id="correo" placeholder="Correo" formControlName="correo">
    </div>
    <div class="form-group" style="max-width: 50%;">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" placeholder="Telefono" formControlName="telefono">
    </div>
    <div class="form-group" style="max-width: 50%;">
        <label for="celular">Celular</label>
        <input type="text" class="form-control" id="celular" placeholder="Celular" formControlName="celular">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>