<h1>Generacion de Cronograma de Tutorias</h1>
<!-- <form [formGroup]="formularioGestionProyecto" (ngSubmit)="guardar()">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Fecha</label>
        <input type="date" class="form-control" formControlName="fecha">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Asunto</label>
        <input type="text" class="form-control" formControlName="asunto">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>&nbsp;
  <button type="button" [routerLink]="['/anteproyecto-list']" class="btn btn-outline-danger">
    Cancelar
  </button>
</form> -->
<form [formGroup]="formularioGestionProyecto" (ngSubmit)="guardar()">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Seleccionar Estudiante para Informe</label>
        <select class="form-control">
            <option value="" selected disabled>Seleccionar estudiante</option>
            <option value="">Juan</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Fecha</label>
        <input type="date" class="form-control" formControlName="fecha">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Asunto</label>
        <input type="text" class="form-control" formControlName="asunto">
      </div>
    </div>
    <div class="col">
      <div class="form-group"></div>
      <label></label>
      <button type="submit" class="btn btn-primary">Guardar</button>&nbsp;
      <button type="submit" class="btn btn-primary" (click)="exit()">Actualizar</button>
    </div>
  </div>
</form>
<br>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Estudiante</th>
      <th>Fecha</th>
      <th>Asunto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of gestionProyectos">
      <td>Juan</td>
      <td>{{a.fecha | date:'fullDate'}}</td>
      <td>{{a.asunto}}</td>
    </tr>
  </tbody>
</table>