<br />
<h2>Carrera</h2>
<div class="card card-primary card-tabs">
    <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home"
                    role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Datos Generales</a>
            </li>
            <li class="nav-item" *ngIf="id!=null">
                <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile"
                    role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Docentes</a>
            </li>
            <li class="nav-item" *ngIf="id!=null">
                <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill"
                    href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages"
                    aria-selected="false">Periodo Lectivos</a>
            </li>
            <li class="nav-item" *ngIf="id!=null">
                <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill"
                    href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings"
                    aria-selected="false">Requisitos</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel"
                aria-labelledby="custom-tabs-one-home-tab">
                <form [formGroup]="formularioCarrera" (ngSubmit)="guardar()">
                    <div class="alert alert-info alert-dismissible" *ngIf='mensajeDatosGenerales'>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{mensajeDatosGenerales}}
                    </div>
                    <div class="form-group">
                        <label>
                            Nombre:
                            <input class="form-control" type="text" formControlName="nombre">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Código:
                            <input class="form-control" type="text" formControlName="codigo">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Tipo Carrera:
                            <select formControlName="tipo_carrera" id="tipo-carrera-select" class="form-control">
                                <option value="null">Seleccione</option>
                                <option *ngFor="let m of tipos" [ngValue]="m">
                                    {{ m }}
                                </option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Opción Graduacion:
                            <select formControlName="opcion_graduacion" id="opcion_graduacion-select"
                                class="form-control">
                                <option value="null">Seleccione</option>
                                <option *ngFor="let m of opcionesGraduacion" [ngValue]="m">
                                    {{ m }}
                                </option>
                            </select>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>

                </form>
            </div>
            <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel"
                aria-labelledby="custom-tabs-one-profile-tab">
                <form [formGroup]="formularioDocente" (ngSubmit)="guardarDocente()">
                    <div class="alert alert-info alert-dismissible" *ngIf='mensajeDocentes'>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{mensajeDocentes}}
                    </div>
                    <div class="form-group">
                        <label>
                            Nombres:
                            <input class="form-control" type="text" formControlName="name">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Email:
                            <input class="form-control" type="text" formControlName="email">
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <br />
                </form>
                <br />
                <div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dc of docentesCarreras">
                                <td>{{dc.usuario.name}}</td>
                                <td>{{dc.usuario.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="docentesCarreras==null||docentesCarreras.length==0">
                    <div>
                        <p>No Existen Docentes</p>
                    </div>
                </div>
                <br />
            </div>
            <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel"
                aria-labelledby="custom-tabs-one-messages-tab">

                <form [formGroup]="formularioPeriodoLectivo" (ngSubmit)="guardarPeriodoLectivo()">
                    <div class="alert alert-info alert-dismissible" *ngIf='mensajePeriodoLectivo'>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{mensajePeriodoLectivo}}
                    </div>
                    <div class="form-group">
                        <label>
                            Nombre:
                            <input class="form-control" type="text" formControlName="nombre">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Fecha Inicio:
                            <input class="form-control" type="date" formControlName="fecha_inicio">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Fecha Fin:
                            <input class="form-control" type="date" formControlName="fecha_fin">
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <br />
                </form>
                <br />
                <div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pl of periodosLista">
                                <td>{{pl.nombre}}</td>
                                <td>{{pl.fecha_inicio}}</td>
                                <td>{{pl.fecha_fin}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="periodosLista==null||periodosLista.length==0">
                    <div>
                        <p>No Existen Periodos Lectivos</p>
                    </div>
                </div>
                <br />


            </div>
            <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel"
                aria-labelledby="custom-tabs-one-settings-tab">

                <form [formGroup]="formularioCarreraRequisito" (ngSubmit)="guardarRequisito()">
                    <div class="alert alert-info alert-dismissible" *ngIf='mensajeRequisito'>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{mensajeRequisito}}
                    </div>
                    <div class="form-group">
                        <label>
                            Nombre:
                            <input class="form-control" type="text" formControlName="nombre">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Número de horas:
                            <input class="form-control" type="number" formControlName="numero_horas">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            Descripcción:
                            <input class="form-control" type="text" formControlName="descripccion">
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <br />
                </form>
                <br />
                <div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Número de horas</th>
                                <th>Descripcción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let re of requisitosLista">
                                <td>{{re.nombre}}</td>
                                <td>{{re.numero_horas}}</td>
                                <td>{{re.descripccion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="requisitosLista==null||requisitosLista.length==0">
                    <div>
                        <p>No Existen Requisitos</p>
                    </div>
                </div>
                <br />

            </div>
        </div>
    </div>
    <!-- /.card -->
</div>