<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/dist/img/user.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">{{ dataUser.user }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->               
                <li class="nav-item">
                    <a [routerLink]="['/home']"  routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-file-alt"></i>
                        <p>Informe Revisor</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/fechaFinal']" routerLinkActive="active"  class="nav-link">
                        <i class="nav-icon fas fa-calendar-day"></i>
                        <p>Fecha de entrega (Final)</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/cargaDocFinal']" routerLinkActive="active"  class="nav-link">
                        <i class="nav-icon fas fa-upload"></i>
                        <p>Carga Documento (Final)</p>
                    </a>
                </li>    
                <li class="nav-item">
                    <a [routerLink]="['/modificacionRevisor']" routerLinkActive="active"  class="nav-link">                        
                        <i class="nav-icon fas fa-chalkboard-teacher"></i>
                        <p>Modificación Revisor</p>
                    </a>
                </li>  
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>