<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Lista de estudiantes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/home']" >Inicio</a></li>
                    <li class="breadcrumb-item active">Lista de estudiantes</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">                        
                        <h3 class="card-title">Lista de estudiantes</h3>
                    </div>
                    <!-- ./card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombres</th>                                                                                                        
                                    <th>Detalles</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let estudiante of estudiantes; let i = index;">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ estudiante.name }}</td>                                                                                                
                                    <td>
                                        <a [routerLink]="['/informeNota', estudiante.id]">Realizar Informe</a> <br>
                                        <a [routerLink]="['/informexest/', estudiante.id]">Revisar Informe</a>
                                    </td>                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->