<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/dist/img/user.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">{{ dataUser.user }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Inicio</p>
                    </a>
                </li>
                <div *ngIf="isRevisor()">
                    <li class="nav-item">
                        <a [routerLink]="['/fechaFinal']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-list-ul"></i>
                            <p style="    margin-left: 10px;">Lista de estudiantes</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/realizarInforme']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-file-alt"></i>
                            <p style="    margin-left: 10px;">Realizar Informe</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/informes']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-list-ul"></i>
                            <p style="    margin-left: 10px;">Lista de Informes</p>
                        </a>
                    </li>
                </div>
                <div *ngIf="isAdministrador()">
                    <li class="nav-item">
                        <a [routerLink]="['/carrera-lista']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-list-ul"></i>
                            <p style="    margin-left: 10px;"> Carreras</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/anteproyecto-list']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-list-ul"></i>
                            <p style="    margin-left: 10px;"> Aprobación Anteproyecto</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/cronograma']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-list-ul"></i>
                            <p style="    margin-left: 10px;"> Cronograma</p>
                        </a>
                    </li>
                </div>
                <div *ngIf="isEstudiante()">
                    <li class="nav-item">
                        <a [routerLink]="['/estudiante-carrera']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-user-graduate"></i>
                            <p style="    margin-left: 10px;"> Seleccion Modalidad</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/anteproyectos']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-user-graduate"></i>
                            <p style="    margin-left: 10px;"> Gestión Anteproyecto</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/cargaDocFinal']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-upload"></i>
                            <p style="    margin-left: 10px;">Carga Documento (Final)</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/prorroga']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-list-ul"></i>
                            <p style="    margin-left: 10px;"> Solicitud Prorroga</p>
                        </a>
                    </li>
                </div>

                <div *ngIf="isDocente()">
                    <li class="nav-item">
                        <a [routerLink]="['/estudiantes-solicitud']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-user-graduate"></i>
                            <p style="    margin-left: 10px;"> Solicitudes</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/aprobacion-temas-anteproyectos']" routerLinkActive="active"
                            class="nav-link">
                            <i class="nav-icon fas fa-list-ul"></i>
                            <p style="    margin-left: 10px;"> Temas Anteproyectos</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/aprobacion-anteproyectos']" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-list-ul"></i>
                            <p style="    margin-left: 10px;"> Anteproyectos</p>
                        </a>
                    </li>
                </div>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>